.container-buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.lista-enlaces-buscador {
  position: absolute;
  background-color: white;
  list-style-type: none;
  z-index: 1; /* Ajusta según sea necesario para superponer al contenido */
}
/* Estilos para cada elemento de la lista */
.lista-enlaces-buscador li {
  margin-bottom: 10px; /* Añade un espacio entre elementos de la lista (ajusta según sea necesario) */
}
/* Estilos para los enlaces dentro de cada elemento de la lista */
.lista-enlaces-buscador li a {
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
  color: #333; /* Establece el color del texto para los enlaces (ajusta según sea necesario) */
  /* Otros estilos para los enlaces si es necesario */
}
.search-bar {
  flex-grow: 1;
  text-align: center;
  padding: 0 20px;
  font-family: Jost, sans-serif;
}
.search-bar input {
  width: 80%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #05856e;
  border-radius: 50px;
  background-color: #05856e;
  color: white;
  font-family: jost, sans-serif;
  padding-left: 20px;
}

.dark .search-bar input::placeholder {
  color: white;
  font-size: 15px;
}

.light .search-bar input::placeholder {
  color: #303030;
  font-size: 15px;
}
.light .search-bar input {
  border: 1px solid #303030;
  background-color: transparent;
}
.dark .search-bar input {
  border: 1px solid #05856e;
  background-color: transparent;
}
