/* Estilos para la barra de búsqueda */
.barra-buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

/* Estilos para el campo de búsqueda y el botón */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el botón con el icono de la lupa */
.boton-lupa {
  background-color: transparent;
  border: 2px solid #008080;
  border-left: none;
  cursor: pointer;
  border-radius: 0;
  padding: 8px;
  width: 39px;
  height: 39px;
}
.boton-lupa:hover {
  background-color: #008080;
}

/* Estilos para la imagen dentro del botón */
.boton-lupa img {
  width: 15px; /* Para asegurar que la imagen ocupe todo el espacio del botón */
}

/* Estilos para el campo de entrada */
.search-bar .input-buscador {
  border: 2px solid #008080; /* Borde del campo de entrada */
  border-right: none;
  background-color: transparent; /* Fondo transparente del campo de entrada */
  flex: 1;
  padding: 8px;
  font-family: jost, sans-serif;
  outline: none;
}
/* Estilos para el texto de marcador de posición en el campo de entrada */
.search-bar .input-buscador::placeholder {
  color: #303030; /* Color del texto de marcador de posición */
  font-size: 15px; /* Tamaño del texto de marcador de posición */
}

/* Estilos para el campo de entrada en modo oscuro */
.dark .search-bar .input-buscador {
  max-width: 1200px;
  margin-bottom: 0;
  border-radius: 0;
}
/* Estilos para el campo de entrada en modo light */
.light .search-bar .input-buscador {
  max-width: 1200px;
  margin-bottom: 0;
  border-radius: 0;
}
/* Estilos para el texto de marcador de posición en modo oscuro */
.dark .search-bar .input-buscador::placeholder {
  color: white; /* Color del texto de marcador de posición en modo oscuro */
}

/* CONTAINER RESULTADOS BÚSQUEDA */
.light .container-lista-enlaces-encontrados {
  position: absolute; /* Posiciona el contenedor de resultados absolutamente */
  top: 75%; /* Coloca el contenedor justo debajo del buscador */
  display: flex;
  flex-direction: column; /* Alinear los resultados en cascada hacia abajo */
  align-items: flex-start; /* Alinear los elementos a la izquierda */
  background-color: white;
  border: 1px solid #008080;
  padding: 10px; /* Agregar un espacio alrededor de los resultados */
  z-index: 1;
}
/* CONTAINER RESULTADOS BÚSQUEDA */
.dark .container-lista-enlaces-encontrados {
  position: absolute; /* Posiciona el contenedor de resultados absolutamente */
  top: 75%; /* Coloca el contenedor justo debajo del buscador */
  display: flex;
  flex-direction: column; /* Alinear los resultados en cascada hacia abajo */
  align-items: flex-start; /* Alinear los elementos a la izquierda */
  background-color: #303030;
  border: 1px solid #008080;
  padding: 10px; /* Agregar un espacio alrededor de los resultados */
  z-index: 1;
}
/* Estilos para la lista de resultados de búsqueda */
.lista-enlaces-buscador {
  list-style-type: none;
  width: 600px;
  padding: 20px;
}

/* Estilos para cada elemento de la lista de resultados */
.lista-enlaces-buscador li {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #008080;
}

/* Estilos para los enlaces dentro de cada elemento de la lista */
.light .lista-enlaces-buscador li a {
  text-decoration: none;
  color: #303030;
  font-family: jost, sans-serif;
}
.dark .lista-enlaces-buscador li a {
  text-decoration: none;
  color: white;
  font-family: jost, sans-serif;
}
/* ESTILOS PARA DESKTOP */
@media screen and (min-width: 768px) {
  .barra-buscador {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #008080;
  }

  .boton-lupa {
    background-color: transparent;
    border: 2px solid #008080;
    border-left: none;
    cursor: pointer;
    padding: 8px;
    width: 39px;
    height: 39px;
  }
  .boton-lupa:hover {
    background-color: #008080;
  }
  .boton-lupa img {
    width: 15px;
  }
  .light .search-bar .input-buscador {
    border: 2px solid #008080; /* Borde del campo de entrada en modo oscuro */
    border-right: none;
    border-radius: none;
    background-color: transparent; /* Fondo transparente del campo de entrada en modo oscuro */
    padding: 8px;
    font-family: jost, sans-serif;
    outline: none;
  }
  /* Estilos para el campo de entrada en modo oscuro */
  .dark .search-bar .input-buscador {
    border: 2px solid #008080; /* Borde del campo de entrada en modo oscuro */
    border-right: none;
    background-color: transparent; /* Fondo transparente del campo de entrada en modo oscuro */
    padding: 8px;
    font-family: jost, sans-serif;
    outline: none;
  }

  /* Estilos para el texto de marcador de posición en el campo de entrada en modo oscuro */
  .dark .search-bar .input-buscador::placeholder {
    color: white; /* Color del texto de marcador de posición en modo oscuro */
    font-size: 15px;
  }
}
