.caja-ajustes-usuario {
  max-width: 400px;
  margin: 200px auto 20px auto;
  padding: 20px;
  border: 1px solid #008080;
  border-radius: 5px;
}

.formulario-ajustes-usuario {
  font-family: jost, sans-serif;
}

input,
textarea {
  border: #008080;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  margin-right: 30px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 50px;
  font-family: "jost", sans-serif;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-top: 15px;
}

button:hover {
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
}