.caja-ajustes-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 280px;
  margin-bottom: 10%;
  overflow-y: auto;
}
.formulario-ajustes-usuario {
  font-family: jost, sans-serif;
  padding: 20px;
  width: 50%;
}
.label-form-ajustes {
  margin-bottom: 5px;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 5px;
  width: 100%;
}

.dark .input-form-ajustes {
  border: none;
  color: white;
  border-bottom: 1px solid teal;
  background-color: transparent;
  border-radius: 0;
}
.light .input-form-ajustes {
  border: none;
  color: #303030;
  border-bottom: 1px solid teal;
  background-color: transparent;
  border-radius: 0;
}
.submit-form-settings,
.return-profile {
  padding: 10px 20px;
  margin-right: 30px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 50px;
  font-family: "jost", sans-serif;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.submit-form-settings:hover,
.return-profile:hover {
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
}

@media only screen and (min-width: 768px) {
  .caja-ajustes-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow-y: auto;
  }
  #birthDate {
    color: teal;
  }
  .formulario-ajustes-usuario {
    font-family: jost, sans-serif;
    padding: 20px;
    width: 50%;
  }
  .label-form-ajustes {
    margin-bottom: 5px;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 5px;
    width: 100%;
  }

  .dark .input-form-ajustes {
    border: none;
    color: white;
    border-bottom: 1px solid teal;
    background-color: transparent;
    border-radius: 0;
  }
  .light .input-form-ajustes {
    border: none;
    color: #303030;
    border-bottom: 1px solid teal;
    background-color: transparent;
    border-radius: 0;
  }
  .submit-form-settings,
  .return-profile {
    padding: 10px 20px;
    margin-right: 30px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 50px;
    font-family: "jost", sans-serif;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
    transition: background-color 0.3s;
  }

  .submit-form-settings:hover,
  .return-profile:hover {
    background-color: transparent;
    border: 1px solid #008080;
    color: #008080;
  }
}
