.contenedorFormularioRegistro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.textoRegistro {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.cajaRegistro {
  display: flex;
  flex: 6;
  align-items: flex-start;
  justify-content: flex-start;
}

h1.tituloRegistro {
  font-family: jost, sans-serif;
  font-size: 40px;
  color: #05856e;
  text-align: right;
  margin-right: 30px;
}

p.parrafoRegistro {
  font-family: jost, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: right;
  margin-right: 30px;
  padding-left: 30px;
}
