.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
.contenedorFormularioRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-left: 0;
  padding-bottom: 25px;
  min-height: 100vh;
}

div.textoRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

.cajaRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cajaFormulario {
  padding: 20px;
}
h1.tituloRegistro {
  font-family: jost, sans-serif;
  font-size: 30px;
  color: #008080;
  text-align: center;
  padding: 10px;
}

p.parrafoRegistro {
  font-family: jost, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .contenedorFormularioRegistro {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
  }
  .textoRegistro {
    box-sizing: border-box;
    display: flex;
    flex: 4;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .cajaRegistro {
    box-sizing: border-box;
    display: flex;
    flex: 6;
    align-items: flex-start;
    justify-content: flex-start;
  }
  h1.tituloRegistro {
    font-family: jost, sans-serif;
    font-size: 40px;
    color: #008080;
    text-align: right;
    margin-right: 30px;
  }

  p.parrafoRegistro {
    font-family: jost, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: right;
    padding-left: 30px;
  }
}
