.avatar-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 280px;
  margin-left: 15%;
  margin-right: 15%;
  overflow-y: auto;
  margin-bottom: 60px;
  background-color: transparent; 
}

.avatar-seleccionado-texto {
  font-family: jost, sans-serif;
}

.avatar-zone {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.avatar-button {
  border: 20px solid transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease-in-out;
  padding: 5px;
}

.avatar-button.selected {
  transform: scale(1.1);
}

.avatar-image {
  max-width: 70px;
  max-height: 70px;
  margin-top: 10px;
}

.selected-avatar-container {
  margin-top: 20px;
}

.selected-avatar {
  width: 100%; 
  height: auto; 
  border: 2px solid teal;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.dark .volver-a-perfil-usuario {
  border: 1px solid teal;
  background-color: teal;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 16px;
  font-family: jost, sans-serif;
  cursor: pointer;
}

.dark .volver-a-perfil-usuario:hover {
  border: 1px solid teal;
  background-color: transparent;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 16px;
  font-family: jost, sans-serif;
  cursor: pointer;
}

.light .volver-a-perfil-usuario {
  border: 1px solid teal;
  background-color: teal;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 16px;
  font-family: jost, sans-serif;
  cursor: pointer;
}

.light .volver-a-perfil-usuario:hover {
  border: 1px solid teal;
  background-color: transparent;
  color: #303030;
  border-radius: 30px;
  padding: 15px;
  font-size: 16px;
  font-family: jost, sans-serif;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .avatar-page-container {
    text-align: center;
    margin-top: 120px;
    margin-left: 15%;
    margin-right: 15%;
    overflow-y: auto;
    margin-bottom: 60px;
  }
  .avatar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  .avatar-seleccionado-texto {
    font-family: jost, sans-serif;
  }

  .avatar-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
    padding: 5px;
  }

  .avatar-button.selected {
    transform: scale(1.1);
  }

  .avatar-image {
    max-width: 70px;
    max-height: 70px;
    margin-top: 10px;
  }

  .selected-avatar-container {
    margin-top: 20px;
  }

  .selected-avatar {
    max-height: 800px;
    max-width: 800px;
    margin-top: 20px;
  }

  .back-to-profile {
    margin-top: 20px;
  }

  .dark .volver-a-perfil-usuario {
    border: 1px solid teal;
    background-color: teal;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: 16px;
    font-family: jost, sans-serif;
    cursor: pointer;
  }

  .dark .volver-a-perfil-usuario:hover {
    border: 1px solid teal;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: 16px;
    font-family: jost, sans-serif;
    cursor: pointer;
  }

  .light .volver-a-perfil-usuario {
    border: 1px solid teal;
    background-color: teal;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: 16px;
    font-family: jost, sans-serif;
    cursor: pointer;
  }

  .light .volver-a-perfil-usuario:hover {
    border: 1px solid teal;
    background-color: transparent;
    color: #303030;
    border-radius: 30px;
    padding: 15px;
    font-size: 16px;
    font-family: jost, sans-serif;
    cursor: pointer;
  }
}

.avatar-button:hover {
  transform: scale(1.2);
  border-color: teal;
}

.avatar-zone {
  border: 2px solid teal;  
  border-radius: 15px;
  padding: 30px;  
}

.selected-avatar-container,
.back-to-profile {
  margin-top: 20px;
}

.selected-avatar {
  width: 200px;  
  height: 200px;  
  border: 2px solid teal;  
  border-radius: 15px; 
  padding: 20px;
  
}

