.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  text-align: left;
  font-family: jost, sans-serif;
}

.botones-navegacion-perfil {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.botones-navegacion-perfil button {
  padding: 10px 20px;
  background-color: #05856e;
  color: white;
  border: none;
  border-radius: 50px;
  font-family: jost, sans-serif;
  cursor: pointer;
  font-size: 14px;
}

.botones-navegacion-perfil button:hover {
  background-color: transparent;
  border: 1px solid #05856e;
  color: #05856e;
}

.h1 {
  margin-bottom: 10px;
}

.user-info {
  margin-bottom: 20px;
}
