.zonas-container {
  display: flex;
  font-family: "jost", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.boton-delete {
  background-color: transparent;
  border: none;
  margin-top: 15px;
  transition: background-color 0.3s; /* Agrega una transición para suavizar el cambio de color */
}
.icono-boton-delete {
  width: 32px;
}
.botones-navegacion-perfil,
.botones-navegacion-post {
  display: flex;
  justify-content: space-between; /* Espaciado entre los botones */
  width: 100%;
  margin-top: auto;
}

.a,
.boton-ajustes,
.boton-guardados {
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 50px;
  font-family: "jost", sans-serif;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-top: 15px;
  transition: background-color 0.3s; /* Agrega una transición para suavizar el cambio de color */
}

.a,
.boton-ajustes:hover,
.boton-guardados:hover {
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
}

/* Agrega la clase ml-auto para alinear a la derecha */
.boton-ajustes,
.boton-guardados {
  margin-left: auto;
}

.boton-ajustes {
  margin-right: 10px;
}

/* Establece el color del título h1 y h2 en azul verdoso */
.perfil-usuario-titulo,
.mis-post-titulo {
  color: #008080;
}

.user-info,
.user-posts {
  width: 40%; /* Ajusta el ancho según tus preferencias */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid #008080;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px;
  padding: 50px;
}

.user-info p {
  margin-bottom: 10px;
}

.user-posts ul {
  list-style: none;
  padding: 0;
  margin-top: 19px;
  column-count: 1;
  column-gap: 20px;
}

.user-posts li {
  margin-bottom: 10px;
}

.user-posts li:before {
  content: "#";
  color: #008080;
  font-size: 16px;
  margin-right: 7px;
}
