fieldset {
  border: 0px solid;
  padding-bottom: 10px;
  width: 400px;
}

.cajaFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  border: 1px solid #05856e;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.cajaFormulario h1 {
  font-size: 16px;
}
label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5px;
  font-size: 11px;
  letter-spacing: 0.2em;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: white;
  font-family: jost, sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.1em;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
}

.botonRegistro {
  background-color: #303030;
  color: white;
  padding: 10px 15px;
  border: 1px solid white;
  cursor: pointer;
  font-family: jost, sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.1em;
}
.botonRegistro:hover {
  background-color: #05856e;
}

.errorMensaje {
  font-family: jost, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: red;
  padding: 10px;
  margin-top: 10px;
}

.yaTienesCuenta {
  display: flex;
  align-items: center;
  padding-top: 40px;
  letter-spacing: 1px;
}

.accede-button {
  color: #05856e;
  background-color: transparent;
  border: none;
  font-family: jost, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 5px;
  font-weight: 700;
}
.accede-button:hover {
  cursor: pointer;
  color: white;
}
