/* Estilos base para dispositivos móviles */
.dark-mode {
  --background: var(--background-dark);
  --text: var(--text-dark);
}

.light-mode {
  --background: var(--background-light);
  --text: var(--text-light);
}
.header {
  padding: 10px;
}

.theme-switcher-container {
  margin-top: 10px;
}

.navbar {
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.buscador {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.logo {
  width: 100%;
  max-width: 200px;
}

.light .navbar {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark .navbar {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid white;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .buscador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
  }
  .theme-switcher-container {
    margin-top: 0;
  }
}
