.header {
  padding: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.dark-mode .header {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}

.navbar {
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.auth-container,
.theme-switcher-container {
  padding: 0 10px;
}

.auth-container a,
.theme-switcher-container a {
  color: white;
  text-decoration: none;
}
