.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  font-size: 13px;
  font-family: jost, sans-serif;
  letter-spacing: 0.1em;
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
  --border-color: #303030;
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
  --border-color: white;
}
