.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid white;
  font-size: 13px;
  letter-spacing: 0.1em;
  background-color: #303030;
}

.dark-mode .footer {
  border-top: 1px solid #303030; /* Color del borde en modo claro */
}
