.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  font-size: 13px;
  font-family: jost, sans-serif;
  letter-spacing: 0.1em;
  z-index: 1000;
}
.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
  --border-color: var(--border-color-light);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
  --border-color: var(--border-color-light);
}
.light .footer {
  background-color: var(--background-light);
  color: var(--text-light);
  --border-color: #cbc9c9;
}

.dark .footer {
  background-color: var(--background-dark);
  color: var(--text-dark);
  --border-color: #ffffff32;
}
