.caja-posts-guardados {
  margin-top: 120px;
}
.no-hay-posts-guardados {
  font-family: jost, sans-serif;
}
.titulo-post-guardados {
  font-family: jost, sans-serif;
  margin-left: 50px;
  text-align: center;
}
