.new-post-container {
  width: 600px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #05856e;
  border-radius: 5px;
  background-color: transparent;
}

.new-post-container h3 {
  font-size: 20px;
  font-family: Jost, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.new-post-container button {
  background-color: #05856e;
  color: white;
  font-family: Jost, sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.new-post-container button:hover {
  background-color: #05856e;
}
.label-titulo {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #05856e;
  box-sizing: border-box;
  color: white;
}

.input-titulo {
  color: white;
}
.label-descripcion {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #05856e;
  box-sizing: border-box;
  color: white;
}

textarea {
  background-color: transparent;
  border: none;
  color: white;
}
