/* Estilos Light */
.light .new-post-container {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
  padding: 15px;
}

.new-post-container h3 {
  font-size: 20px;
  font-family: Jost, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.new-post-container button {
  background-color: transparent;
  color: #05856e;
  font-family: Jost, sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.new-post-container button:hover {
  background-color: #05856e;
  color: white;
  border: none;
}

.label-titulo,
.label-descripcion,
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  color: black;
  border: #303030 1px solid;
  border-radius: 4px;
  font-family: Jost, sans-serif;
}
.light .input-new-post,
.light .textarea-new-post {
  color: #303030;
  border: #303030 1px solid;
  background-color: white;
  width: 100%;
}

/* Estilos Dark */
.dark .new-post-container {
  border-color: #303030;
  background-color: #303030;
  color: white;
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
}

.dark .new-post-container h3 {
  color: white;
}

.dark .new-post-container button {
  background-color: #303030;
  color: white;
}

.dark .label-titulo,
.dark .label-descripcion,
.dark input,
.dark textarea {
  color: white;
  background-color: #303030;
  border: white 1px solid;
}

.dark .input-new-post,
.dark .textarea-new-post {
  color: white;
  border: white 1px solid;
  background-color: #303030;
  width: 100%;
}

.dark .agregar-post {
  border: 1px solid white;
  background: transparent;
  color: white;
}
.light .agregar-post {
  border: 1px solid #303030;
  background: transparent;
  color: #303030;
}

.error-message {
  color: red;
}
.success-message {
  color: #05856e;
}
