* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #303030;
  font-family: Jost, sans-serfi;
  color: white;
  display: flex;
  flex-direction: column;
}
.main-container {
  min-height: 100vh;
}

/* Estilos para el modo claro */
body.dark-mode {
  background-color: #ffffff;
  color: #303030;
}

.logo {
  width: 200px;
}

.description {
  border-bottom: 1px solid white;
  padding: 20px 0 20px 0;
}

.dark-mode .description {
  border-bottom: 1px solid #303030; /* Color del borde en modo claro */
}
.description h2 {
  font-weight: 700;
  text-align: center;
}

.description h3 {
  font-weight: 400;
  text-align: center;
}
