* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Jost, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 200px;
  }
  html,
  body {
    font-family: Jost, sans-serif;
  }
}
