/* Estilos para el botón de cambio de tema */
.theme-switcher {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-icon {
  width: 20px;
  height: 20px;
}

:root {
  --background-light: #ffffff;
  --text-light: #303030;

  --background-dark: #303030;
  --text-dark: #ffffff;
  --border-color-light: #303030;
  --border-color-dark: white;
}

.dark-mode {
  --background: var(--background-dark);
  --text: var(--text-dark);
}

.light-mode {
  --background: var(--background-light);
  --text: var(--text-light);
}

body {
  background-color: var(--background);
  color: var(--text);
}
