.inicio {
  display: flex;
  align-items: flex-start;
  font-family: Jost, sans-serif;
  padding-bottom: 10%;
}

.main-content {
  width: 100%;
  display: flex;
}

.dark .sidebar-izq {
  width: 20%;
  border-right: 1px solid white;
}

.light .sidebar-izq {
  width: 20%;
  border-right: 1px solid #303030;
  border-top: 1px solid #303030;
}
.dark .contenedor-crear-post {
  background-color: #303030;
  width: 100%;
  border-bottom: 1px solid white;
}
.light .contenedor-crear-post {
  width: 100%;
  border-bottom: 1px solid #303030;
}
.sidebar-derecha {
  flex: 1;
  border-top: 1px solid black;
}

.light .boton-crear-post,
.dark .boton-crear-post {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 5px;
  font-family: jost, sans-serif;
  font-size: 14px;
}

.icono-nuevo-post {
  width: 100%;
  max-width: 30px;
  margin-left: 10%;
}

.dark .escribe-tu-mejor-post {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5px;
  white-space: nowrap;
}
.light .escribe-tu-mejor-post {
  color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5px;
  white-space: nowrap;
}
