.inicio {
  display: flex;
  align-items: flex-start;
  font-family: Jost, sans-serif;
  padding-bottom: 10%;
}

.main-content {
  width: 100%;
  display: flex;
  margin-top: 90px;
}
.texto-cargando-posts {
  font-family: jost, sans-serif;
  margin-top: 120px;
}

.dark .sidebar-izq {
  flex: 1;
  width: 15%;
  border-right: 1px solid #ffffff32;
  height: 100vw;
  position: fixed;
  top: 90px;
}

.light .sidebar-izq {
  flex: 1;
  width: 15%;
  border-right: 1px solid #cbc9c9;
  height: 100vw;
  position: fixed;
  top: 90px;
}
.dark .contenedor-crear-post {
  background-color: #303030;
  border-bottom: 1px solid #ffffff32;
  width: 100%;
}
.light .contenedor-crear-post {
  width: 100%;
  border-bottom: 1px solid #cbc9c9;
}
.light .columna-centro {
  flex: 2;
  margin-left: 15%;
}

.dark .columna-centro {
  flex: 2;
  margin-left: 15%;
}

.light .boton-crear-post,
.dark .boton-crear-post {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 5px;
  font-family: jost, sans-serif;
  font-size: 14px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.icono-nuevo-post {
  width: 100%;
  max-width: 30px;
  margin-left: 10%;
}
.escribe-tu-mejor-post {
  display: none;
}

.dark .escribe-tu-mejor-post {
  color: white;
}

.light .escribe-tu-mejor-post {
  color: #303030;
}

.sidebar-derecha {
  flex: 1;
  width: 100%;
}
.caja-trending {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: teal;
  color: white;
  margin: 20px;
  border-radius: 20px;
  position: fixed;
  top: 90px;
  right: 5px;
}
.trending-topics-titulo {
  font-size: 20px;
  text-align: center;
}
.emoticono-fuego {
  width: 32px;
  margin-top: 10px;
  margin-bottom: -7px;
}
.lista-trending-topics {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lista-posts-trending {
  padding: 15px 10px;
  width: 80%;
  border-radius: 15px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.482);
  margin-bottom: 15px;
}
.lista-posts-trending:hover {
  padding: 15px 10px;
  width: 90%;
  border-radius: 15px;
  border: 1px solid white;
  background-color: teal;
  margin-bottom: 15px;
  font-weight: 500;
}
.lista-posts-trending a {
  color: white;
  text-decoration: none;
}

.lista-posts-trending a:hover {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 260px;
  }

  .sidebar-izq {
    display: none;
    margin-left: 0;
  }

  .columna-centro {
    width: 100%;
    margin-left: 0;
  }
  .sidebar-derecha {
    display: none;
  }
  .contenedor-crear-post {
    margin-bottom: 20px;
  }
}
