.inicio {
  display: flex;
  align-items: flex-start;
  font-family: Jost, sans-serif;
  padding-bottom: 10%;
}

.main-content {
  width: 100%;
  display: flex;
  margin-top: 90px;
}

.dark .sidebar-izq {
  flex: 1;
  width: 5%;
  border-right: 1px solid #ffffff32;
  height: 100vw;
}

.light .sidebar-izq {
  flex: 1;
  width: 5%;
  border-right: 1px solid #cbc9c9;
  height: 100vw;
}
.dark .contenedor-crear-post {
  background-color: #303030;
  border-bottom: 1px solid #ffffff32;
  width: 100%;
}
.light .contenedor-crear-post {
  width: 100%;
  border-bottom: 1px solid #303030;
}
.light .columna-centro {
  flex: 3;
}
.dark .columna-centro {
  flex: 3;
}

.light .boton-crear-post,
.dark .boton-crear-post {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 5px;
  font-family: jost, sans-serif;
  font-size: 14px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.icono-nuevo-post {
  width: 100%;
  max-width: 30px;
  margin-left: 10%;
}
.escribe-tu-mejor-post {
  display: none;
}

.dark .escribe-tu-mejor-post {
  color: white;
}

.light .escribe-tu-mejor-post {
  color: #303030;
}

.sidebar-derecha {
  flex: 1;
  width: 10%;
}
.caja-trending {
  width: 300px;
  height: 450px;
  background-color: #008080;
  color: white;
  margin: 20px;
  border-radius: 20px;
  position: fixed; /* Añade esta línea para fijar la caja */
  top: 90px; /* Ajusta la distancia desde la parte superior según tu diseño */
  right: 5px;
}
.trending-topics-titulo {
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .main-content {
    display: flex;
    flex-direction: column;
    margin-top: 260px;
  }

  .sidebar-izq {
    display: none; /* Oculta la barra lateral izquierda en dispositivos móviles */
  }

  .columna-centro {
    width: 100%; /* Ajusta el ancho de la barra lateral derecha al 100% en dispositivos móviles */
  }

  .contenedor-crear-post {
    margin-bottom: 20px;
  }
}
