/* PostPage.css */

.post-page-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center; /* Añadido para centrar horizontalmente */
  overflow-y: auto;
}

.post-content-container {
  margin-bottom: 20px;
  width: 100%;
}

.dark .post-content-container {
  margin: 20px 5%;
  padding: 15px;
  border-radius: 16px;
  border: none;
  max-width: 800px;
}

.light .post-content-container {
  margin: 20px 5%;
  padding: 15px;
  background-color: #ededed9b;
  border-radius: 16px;
  border: none;
  max-width: 800px;
}

.dark .boton-eliminar-comentario,
.light .boton-eliminar-comentario {
  border: none;
  background-color: transparent;
}

.datos-publicacion {
  display: flex;
  font-family: jost, sans-serif;
}

.dark .texto-comentario-editado {
  color: white;
}

.light .texto-comentario-editado {
  color: #008080;
}

.post-page-container .boton-comentar {
  background-color: transparent;
  color: white;
  margin: 5px;
  font-family: jost, sans-serif;
  font-size: 14px;
  border: none;
}

.post-page-container .icono-comentario {
  width: 22px;
}

.post-page-container .dark .comment-input {
  border: 1px solid #dddddd76;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.post-page-container .light .comment-input {
  border: 1px solid #303030;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.post-page-container .boton-eliminar-comentario {
  color: #008080;
  font-family: jost, sans-serif;
  background-color: transparent;
  padding: 5px;
}

.numero-comentarios {
  font-size: 14px;
  font-weight: 500;
  font-family: jost, sans-serif;
}

.post-page-container .boton-icono-like img {
  width: 22px;
}

.post-page-container .boton-icono-like {
  background-color: transparent;
  border: none;
}

.post-page-container .botones-post-complementos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-page-container .botones-guardar img {
  width: 22px;
}

.post-page-container .botones-guardar {
  background-color: transparent;
  border: none;
}

.post-page-container .titulo-post-home {
  font-size: 30px;
  letter-spacing: 0.1px;
  font-family: jost, sans-serif;
}

.post-page-container .descripcion-post-home {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: jost, sans-serif;
  letter-spacing: 0.8px;
}

.post-page-container .datos-publicacion {
  margin-bottom: 10px;
}

.post-page-container .fecha,
.post-page-container .publicado-por {
  color: #008080;
  font-size: 11px;
  font-family: jost, sans-serif;
  margin-left: 2px;
}

.post-page-container .nombre-usuario {
  font-family: jost, sans-serif;
}

.post-page-container .link-url-post.estilo-unico {
  display: inline-block;
  font-family: jost, sans-serif;
  background-color: teal;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px; /* Añadido para rodear el enlace con una caja */
  border: 1px solid teal; /* Añadido para añadir un borde */
  border-radius: 8px; /* Añadido para redondear las esquinas */
  font-size: 18px; /* Ajusta el tamaño de la fuente del enlace según tus necesidades */
  margin-left: 36px;
  margin-right: auto;
  max-width: 500px; /* Establece el ancho máximo del enlace */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que sobresale del contenedor */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para indicar texto truncado */
  transition: all 0.3s ease; /* Añadido para suavizar la transición */
}


@media only screen and (max-width: 768px) {
  .post-page-container .link-url-post.estilo-unico {
    max-width: 150px; /* Ajusta el ancho máximo para pantallas más pequeñas */
  }


  .post-page-container .link-url-post.estilo-unico:hover {
    transform: scale(1.1);
    background-color: #02a1a1;
    text-decoration: underline;
  }
}

.post-page-container .link-url-post.estilo-unico:hover {
  transform: scale(1.1); /* Añadido para hacer ligeramente más grande en hover */
  background-color: #02a1a1; /* Cambia el color de fondo en hover */
  text-decoration: underline;
}
