.dark .post-item-container {
  margin: 20px 5% 20px 5%;
  padding: 15px;
  background-color: #47474778;
  border-radius: 16px;
  border: none;
  max-width: 600px;
}
.light .post-item-container {
  margin: 20px 5% 20px 5%;
  padding: 15px;
  background-color: #ededed9b;
  border-radius: 16px;
  border: none;
  max-width: 600px;
}

.datos-publicacion {
  display: flex;
  font-family: jost, sans-serif;
}

.post-page-container .boton-comentar {
  background-color: transparent;
  color: white;
  margin: 5px;
  font-family: jost, sans-serif;
  font-size: 14px;
  border: none;
}

.post-page-container .icono-comentario {
  width: 22px;
}
.post-page-container .dark .comment-input {
  border: 1px solid #dddddd76; /* Borde para la caja de comentarios */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  margin: 5px 0; /* Margen superior e inferior */
}
.post-page-container .light .comment-input {
  border: 1px solid #303030; /* Borde para la caja de comentarios */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  margin: 5px 0; /* Margen superior e inferior */
}

.post-page-container .boton-eliminar-comentario {
  color: #008080;
  font-family: jost, sans-serif;
  background-color: transparent;
  border: 1px solid #008080;
  border-radius: 50px;
  padding: 5px;
}

.post-page-container .boton-icono-like img {
  width: 22px;
}

.post-page-container .boton-icono-like {
  background-color: transparent;
  border: none;
}

.post-page-container .botones-post-complementos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-page-container .botones-guardar img {
  width: 22px;
}

.post-page-container .botones-guardar {
  background-color: transparent;
  border: none;
}

.post-page-container .titulo-post-home {
  font-size: 30px;
  letter-spacing: 0.1px;
  font-family: jost, sans-serif;
}

.post-page-container .descripcion-post-home {
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.post-page-container .datos-publicacion {
  margin-bottom: 10px;
}

.post-page-container .fecha,
.post-page-container .publicado-por {
  color: #008080;
  font-size: 11px;
  margin-left: 2px;
}

.post-page-container .nombre-usuario {
  font-family: jost, sans-serif;
}
