.auth-button {
  border: 1px solid #05856e;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  background-color: #05856e;
  color: white;
  margin: 5px;
}
.auth-button:hover {
  border: 1px solid #05856e;
  background-color: transparent;
}

.light .auth-button:hover {
  color: #303030;
  border-bottom: 1px solid #05856e;
}

.profile-button {
  border: 1px solid #05856e;
  padding: 10px 40px 10px 15px;
  border-radius: 50px;
  background-color: #05856e;
  margin: 5px;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/public/profileicon.svg);
  height: 35px;
}

.profile-button:hover {
  border: 1px solid #05856e;
  background-color: transparent;
}

.light .profile-button:hover {
  color: #303030;
  border-bottom: 1px solid #05856e;
}
