.seccion-botones-acceso {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-button {
  border: 1px solid #008080;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  background-color: #008080;
  color: white;
  margin: 5px;
  font-family: jost, sans-serif;
}
.auth-button:hover {
  border: 1px solid #008080;
  background-color: transparent;
}
.usuario {
  font-family: jost, sans-serif;
  letter-spacing: 0.1em;
  margin-right: 1em;
}
.light .auth-button:hover {
  color: #303030;
  border-bottom: 1px solid #008080;
}
.light .logout-boton {
  font-family: jost, sans-serif;
  border: 1px solid #008080;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  color: #008080;
  text-decoration: none;
}
.light .logout-boton:hover {
  font-family: jost, sans-serif;
  border: 1px solid #008080;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}
.logout-boton {
  font-family: jost, sans-serif;
  border: 1px solid #008080;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}
.logout-boton:hover {
  border: 1px solid #008080;
  background-color: #008080;
}
.profile-button {
  border: 1px solid #008080;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin: 5px;
  background-color: #008080;
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/profileicon-blanco.png);
  height: 40px;
}

.profile-button:hover {
  border: 1px solid #008080;
  background-color: transparent;
  background-image: url(/profileIcon.png);
}

.light .profile-button:hover {
  color: #303030;
  border-bottom: 1px solid #008080;
}
