.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
h1 {
  margin-bottom: 20px;
  font-family: jost, sans-serif;
}

.home-link {
  color: #008080;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #008080;
  padding: 25px;
  font-family: jost, sans-serif;
}

.home-link:hover {
  border: 1px solid white;
  color: white;
  padding: 25px;
}
